<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LICENCIA</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #userForm="ngForm">
  <img width="400" height="91" src="assets/imgs/logo_aviacionesav.png"/>
  <ion-item>
      <ion-label md-margin-end="$item-md-padding-end / 2">DATOS:</ion-label>    
  </ion-item>

  <ion-item>
    <ion-input value="{{userData.firstName | titlecase}}" name="nombre" placeholder="Nombre:" maxlength="40"  (change)="GuardarName($event.target.value)"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input value="{{userData.Email | titlecase}}" name="email" placeholder="E-mail:"  maxlength="70"  (change)="GuardarEmail($event.target.value)"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input value="{{userData.WhatsApp | titlecase}}" name="Phone" placeholder="Phone:"  maxlength="70"  (change)="GuardarWhatsApp($event.target.value)"></ion-input> 
  </ion-item>
  <ion-item>
    <ion-input value="{{userData.SerialShow | titlecase}}" name="serial" placeholder="Serial:" (change)="GuardarSerial($event.target.value)"  maxlength="15"></ion-input>           
  </ion-item>
  </form>
  <button *ngIf="!userData.SerialActivo" ion-button round shape="round" fill="outline" color="primary" (click)="ChequeoSerial()">Registrar</button>
  <button  class="BgColor2" *ngIf="ValidarLic  === '1' || userData.SerialActivo" ion-button color="save">
      Licencia Activa!
  </button>
  <button class="BgColor" color="danger" *ngIf="ValidarLic === '2'"  ion-button color="save">
      ERROR: Violación de Licencia.
  </button>
  <button class="BgColor" color="danger" *ngIf="ValidarLic  === '0'"  ion-button color="save">
      ERROR: Licencia en Uso.
  </button>
</ion-content>