<!--
  Generated template for the PreguntasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{Materia}}...{{PreguntaIndex}}/{{ToalPreguntas}}</ion-title>
    </ion-navbar>
  </ion-header>
  

  <ion-content padding *ngIf="!TocaResultado"> 
      <img width="350" height="91" src="assets/imgs/logo_aviacionesav.png"/>
      <ion-list *ngFor="let item of items ; let i = index">
        <ion-list-header *ngIf="StatusMostrar[i]"  class="BgColor3">
          <ion-item text-wrap class="BgColor3">
                <h4 style="text-align:center; font-size:140%;" ion-text color="light">{{ item.Pregunta.charAt(0).toUpperCase() + item.Pregunta.substr(1).toLowerCase() }}</h4>
          </ion-item>
        </ion-list-header>
        <ion-list  *ngIf="StatusMostrar[i] && item.FIGURA">
            <img width="350" src="assets/json/{{Mat}}/{{item.FIGURA}}"/>
        </ion-list>
        <div *ngIf="StatusMostrar[i]">
         <input type="hidden" ng-model="myRespuestaCorrecta" ng-init="myRespuestaCorrecta = item.RespuestaCorrecta">
          <ion-list radio-group [(ngModel)]="radio">
              <ion-item >
                  <ion-label  class="{{mColor.A}}" text-wrap>A.- {{item.A | titlecase}}</ion-label>
                  <ion-radio [disabled]="!SiguenteActive" [value]="'A,' + i" (ionSelect)="SelectOP(item.RespuestaCorrecta)"></ion-radio>
              </ion-item>
              <ion-item  >
                  <ion-label class="{{mColor.B}}" text-wrap>B.- {{item.B | titlecase}}</ion-label>
                  <ion-radio [disabled]="!SiguenteActive" [value]="'B,' + i" (ionSelect)="SelectOP(item.RespuestaCorrecta)"></ion-radio>
              </ion-item>
              <ion-item *ngIf="item.C">
                  <ion-label class="{{mColor.C}}" text-wrap>C.- {{item.C | titlecase}}</ion-label>
                  <ion-radio [disabled]="!SiguenteActive" [value]="'C,' + i" (ionSelect)="SelectOP(item.RespuestaCorrecta)"></ion-radio>
              </ion-item>
              <ion-item *ngIf="item.D"  class="{{mColor.D}}">
                  <ion-label text-wrap>D.- {{item.D | titlecase}}</ion-label>
                  <ion-radio [disabled]="!SiguenteActive" [value]="'D,' + i"  (ionSelect)="SelectOP(item.RespuestaCorrecta)"></ion-radio>
              </ion-item>
              <ion-item *ngIf="item.E"  class="{{mColor.E}}">
                  <ion-label text-wrap>E.- {{item.E | titlecase}}</ion-label>
                  <ion-radio [disabled]="!SiguenteActive" [value]="'E,' + i"  (ionSelect)="SelectOP(item.RespuestaCorrecta)"></ion-radio>
              </ion-item>
            </ion-list>
           <!-- Here is the radio value: {{(radio||{}) | json}} - {{item.RespuestaCorrecta}} - {{RespuestaCorrecta}}-->
      </div>
    </ion-list>
  </ion-content>


  <ion-content padding *ngIf="TocaResultado">
    <ion-item class="BgColor">        
        <h4 style="text-align:center" ion-text color="light">{{Materia}}</h4>
      </ion-item>
      <img width="350" height="91" src="assets/imgs/logo_aviacionesav.png"/>
    <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-load-d" spinner="ios-small"></ion-refresher>
    <div class="divider-title">Resultado </div>
    <ul class="timeline" *ngFor="let item2 of itemsRespuesta2 ; let i = index">
      <li *ngIf="i < ToalPreguntas" >
        <div  class="timeline-thumb BgColor2 timeline-icon">
          <i class="ion-heart"></i>
        </div>
        <div  class="timeline-item">
          <h6>{{ item2.Pregunta.charAt(0).toUpperCase() + item2.Pregunta.substr(1).toLowerCase() }}</h6>
          <p>Resputas Correcta:{{Respuestas[i]}}</p>
          <!--<div class="timeline-stats">
            <i *ngIf="!RespuestasCorrecta[i]" class="ion-heart">INCORRECTO</i> {{RespuestasCorrecta[i]}} 
            <span *ngIf="RespuestasCorrecta[i]" class="pos-absolute-right"><i class="ion-ios-clock">CORRECTA</i> </span>
          </div>-->
        </div>
      </li>        
    
     </ul>
  </ion-content>

  <ion-footer no-border  *ngIf="!TocaResultado"> 
        <ion-toolbar>
          <ion-buttons right>
            <button ion-button [disabled]="SiguenteActive" round shape="round" fill="outline" color="primary" (click)="SiguentePregunta()">Siguente</button>                
            </ion-buttons>
            
            <div *ngIf="SiguenteActive" class="circle_container">
                    <div class="{{ColorTime}}">
                        <div class="circle_text_container">
                            <div class = "circle_text">
                                    {{maxTime}}
                            </div>
                        </div>
                    </div>
                </div>
            <ion-buttons  left>
              <button  class="BgColor2" *ngIf="BoolRespCorrecta && !SiguenteActive" ion-button color="save">
                  CORRECTO
              </button>
              <button class="BgColor" color="danger" *ngIf="!BoolRespCorrecta && !SiguenteActive"  ion-button color="save">
                  INCORRECTO
              </button>
          </ion-buttons>

          <ion-label text-wrap>{{TimerRespuesta}}</ion-label>
        </ion-toolbar>
  </ion-footer>


